<a href="https://colab.research.google.com/github/hossainsiam133/Machine-Learning/blob/main/Pandas/01_Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

data = pd.read_csv("data.csv")
print(data.to_string())
# df = pd.read_csv('sample_data/sample_data.csv')

# print(df.to_string())
# import pandas as pd

# data = {
#     "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
#     "Age": [29, 34, 28, 40, 31],
#     "Department": ["HR", "IT", "Finance", "IT", "Marketing"],
#     "Salary": [45000, 60000, 55000, 75000, 50000],
#     "Joining Date": ["2021-06-15", "2020-09-23", "2022-01-10", "2018-04-01", "2019-11-12"]
# }

# df = pd.DataFrame(data)
# df.to_csv("sample_data/sample_data.csv", index=False)
# print("CSV file created successfully!")

      Name  Age Department  Salary Joining Date
0    Alice   29         HR   45000   2021-06-15
1      Bob   34         IT   60000   2020-09-23
2  Charlie   28    Finance   55000   2022-01-10
3    David   40         IT   75000   2018-04-01
4     Siam   31  Marketing   50000   2019-11-12

In [66]:
data = {
    'Student Name':['Siam','Talha','Asif'],
    'ID':[23100084,23100069,23100051]
}
x = pd.DataFrame(data)
print(x)
print()
print(x.loc[[0,1]])
print("Pandas Version:",pd.__version__)

  Student Name        ID
0         Siam  23100084
1        Talha  23100069
2         Asif  23100051

  Student Name        ID
0         Siam  23100084
1        Talha  23100069
Pandas Version: 2.2.2

In [54]:
data = [23100069,23100084,23100051]
x = pd.Series(data,index = ["Talha", "Siam", "Asif"])
print(x)

data = [1,2,3]
x = pd.Series(data)
print(x)

data = {"BMW":5,"Ferrari":6}
print(data)
x = pd.Series(data)
print(x)

Talha    23100069
Siam     23100084
Asif     23100051
dtype: int64
0    1
1    2
2    3
dtype: int64
{'BMW': 5, 'Ferrari': 6}
BMW        5
Ferrari    6
dtype: int64

In [96]:
data = pd.read_csv("data.csv")
print(data)
print()
print()
print(data.head())
print()
print(data.tail(2))

     Name  Age Department  Salary Joining Date
0   Alice   29         HR   45000   2021-06-15
..    ...  ...        ...     ...          ...
4    Siam   31  Marketing   50000   2019-11-12

[5 rows x 5 columns]


     Name  Age Department  Salary Joining Date
0   Alice   29         HR   45000   2021-06-15
..    ...  ...        ...     ...          ...
4    Siam   31  Marketing   50000   2019-11-12

[5 rows x 5 columns]

    Name  Age Department  Salary Joining Date
3  David   40         IT   75000   2018-04-01
4   Siam   31  Marketing   50000   2019-11-12

In [80]:
data = {
  "Duration":{
    "0":60,
    # "1":60,
    # "2":60,
    # "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    # "0":110,
    # "1":117,
    # "2":103,
    # "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    # "0":130,
    # "1":145,
    # "2":135,
    # "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    # "0":409,
    # "1":479,
    # "2":340,
    # "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    NaN       NaN       NaN
4        45  117.0     148.0     406.0
5        60  102.0     127.0     300.0

In [103]:
data = pd.read_csv("data.csv")
print(data.to_string())
print()
print(data.info())

      Name  Age Department  Salary Joining Date
0    Alice   29         HR   45000   2021-06-15
1      Bob   34         IT   60000   2020-09-23
2  Charlie   28    Finance   55000   2022-01-10
3    David   40         IT   75000   2018-04-01
4     Siam   31  Marketing   50000   2019-11-12

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          5 non-null      object
 1   Age           5 non-null      int64
 2   Department    5 non-null      object
 3   Salary        5 non-null      int64
 4   Joining Date  5 non-null      object
dtypes: int64(2), object(3)
memory usage: 332.0+ bytes
None