<a href="https://colab.research.google.com/github/hossainsiam133/Machine-Learning/blob/main/Pandas/01_Pandas_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = pd.read("data.csv")
print(data.to_string())
# df = pd.read_csv('sample_data/sample_data.csv')

# print(df.to_string())
# import pandas as pd

# data = {
#     "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
#     "Age": [29, 34, 28, 40, 31],
#     "Department": ["HR", "IT", "Finance", "IT", "Marketing"],
#     "Salary": [45000, 60000, 55000, 75000, 50000],
#     "Joining Date": ["2021-06-15", "2020-09-23", "2022-01-10", "2018-04-01", "2019-11-12"]
# }

# df = pd.DataFrame(data)
# df.to_csv("sample_data/sample_data.csv", index=False)
# print("CSV file created successfully!")

      Name  Age Department  Salary Joining Date
0    Alice   29         HR   45000   2021-06-15
1      Bob   34         IT   60000   2020-09-23
2  Charlie   28    Finance   55000   2022-01-10
3    David   40         IT   75000   2018-04-01
4      Eva   31  Marketing   50000   2019-11-12